main {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.encima {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fondo{
    width: 100%;
    height: 100%;
    background-image: url("https://wallpapercave.com/wp/wc1808325.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.botones{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 40vh;
    min-width: fit-content;
    width: 40vw;
    min-height: fit-content;
    background-color: #2c2c2cd5;
    border-radius: 10px;
    margin-top: 6vh;
}
.buscador {
    min-height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
.idPokemon {
    -webkit-appearance: none;
    outline: none;
    border: none;
    text-align: center;
    margin-top: 2px;
    border-radius: 50px;
    width: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
    font-weight: bolder;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    min-width: fit-content;
    max-width: 10vh;
}

.buscar {
    /*min-height: 2rem;*/
    background-color: rgb(89, 128, 185);
}
.buscar:hover {
    background-color: rgb(102, 147, 214);
}
.card {
    margin-top: 25px;
    background-color: rgb(247, 189, 64);
    min-height: 50vh;
    min-width: 40vh;
    border-radius: 10px;
    flex-grow: 1;
}
.card-body{
    background-color: rgb(223, 223, 223);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 14px rgb(247, 189, 64) solid;
}
.anterior {
    background-color: rgb(183, 70, 70);
    height: 3rem;
    width: 8vw;
}
.anterior:hover {
    background-color: rgb(211, 90, 90);
}
.siguiente {
    background-color: rgb(75, 169, 95);
    height: 3rem;
    width: 8vw;
}
.siguiente:hover {
    background-color: rgb(82, 199, 108);
}

.shiny {
    background-color: rgb(207, 207, 207);
    color: black;
    height: 3rem;
    width: 8vw;
    margin-bottom: 2vw;
}
.shiny:hover {
    background-color: rgb(238, 238, 238);
}
.imagen {
    border-radius: 10px 10px 0 0;
    min-height: 100%;
    border: 14px rgb(247, 189, 64) solid;
}
.card-img-top {
    background-size: 215%;
    background-repeat: no-repeat;
    background-image: url("https://whackahack.com/foro/img/28508/543/4325.png");
    background-position: fixed;
    background-position-x: 25%;
}

.card-title {
    font-weight: bolder;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.445);
}
.pokemon {
    flex: 1;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 5vw;
    margin-left: 0.3vw;
}
a:hover{
    color: white;
}
.bola {
    height: 35px;
}