main {
    display: flex;
    flex-direction: column;
}

.principal{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ficha {
    border: 4px white solid;
    margin: 2rem;
    width: 30vw;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.ficha:hover {
    background-color: rgb(145, 187, 255) !important;
    width: 30vw;
}
.button{
    width: 20vh;
}

@media screen and (max-width: 481px){

    .principal{
        margin-top: 60vh;
        flex-direction: column !important;
    }
    .ficha {
        width: 60vw;
        min-width: 75vw;
        height: 20vh;
        border-radius: 1rem;
        transition: all 0.5s ease-in-out;
    }
    .button {
        width: 50vw;
        margin-bottom: 2rem;
    }


}